
<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <title>MY GROUPS</title>
      <link rel='stylesheet' type="text/css" href='/css/background.css'>
      <link rel='stylesheet' type="text/css" href='/css/styles.css'>
    </head>
    <style>
        .rectangle{
            width: auto;
            height: auto;
            background: lightslategray;
        }
    </style>
    <body class="logo">
      <b>CMDB API</b>
      <ul class="home">
        <li><a href="/"> HOME </a></li>
        <li><a href="/movieSearch"> MOVIES </a></li>
        </li>
        <li class="dropdown">
          <a class="dropbtn">GROUPS</a>
          <div class="dropdown-content">
                <a href="/groups">MY GROUPS</a>
                <a href="/group">CREATE NEW GROUP</a>
                <a href="/editGroup">EDIT GROUP</a>
                <a href="/deleteGroup">DELETE GROUPS</a> 
          </div>
        </li>
          <li style="float:right"><a href="/signout"> SIGN OUT </a></li>
          <li style="float:right"><a href="/profile"> WELCOME, {{data.user.name}} </a></li>
      </ul>
      <div class="rectangle">
        <b style="font-size: 52px;">My Groups</b>
            {{#each data.groups}}
                <p><a style="color:Black;font-size:36px;font-weight:bolder;" href="/group/{{id}}">{{name}}</a></p>
                <p style="color: white;font-size:22px;font-weight:bold;">Description: {{description}}</p>
                <p style="color: white;font-size:22px;font-weight:bold;">Duration: {{totalDuration}} Mins</p>
            {{/each}}
      </div> 
    </body>
  </html>